<div class="container mt-4">
  <h2>Dragon Ball Z Characters</h2>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Character</th>
      <th>Race</th>
      <th>Power Level</th>
    </tr>
    </thead>
    <tbody>
    <tr  *ngFor="let character of charactersListFromParent;
        let idOdd= odd; let isEven = even;">
      <td [ngClass]="{'red-color-row ': idOdd, 'blue-color-row': isEven}">{{ character.name }}</td>
      <td [ngClass]="{'red-color-row ': idOdd, 'blue-color-row': isEven}">{{ character.race }}</td>
      <td [ngClass]="{'red-color-row ': idOdd, 'blue-color-row': isEven}">{{ character.power}}</td>
    </tr>
    </tbody>
  </table>
</div>

