<div class="container mt-4">
  <h2>Dragon Ball Z Characters</h2>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Character</th>
      <th>Race</th>
      <th>Power Level</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>Goku</td>
      <td>Saiyan</td>
      <td>Over 9000</td>
    </tr>
    <tr>
      <td>Vegeta</td>
      <td>Saiyan</td>
      <td>8500</td>
    </tr>
    <tr>
      <td>Frieza</td>
      <td>Unknown</td>
      <td>120,000 (Final Form)</td>
    </tr>
    </tbody>
  </table>
</div>

